<% provide(:title, 'About') %>
<h1>
  About Us
</h1>

<p>
The purpose of this website is to make your life easier when 
managing your soccer matches with your friends.
It allows you to organize a team, make seasons and keep ranking
about player skills throughout the season.
With the Pelada-Manager your soccer games will be much more
organized and easy to mantain.

Your friends will surely thank you.
</p>
