<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
Contact the developer by using this email <a href="mailto:digaomatias@gmail.com">digaomatias@gmail.com </a> or use the form bellow.
<a href="http://railstutorial.org/contact">contact page</a>.
</p>